<div class="flip-container">
  <div class="flipper" [@saveMovieCardAnimation]='state'>
    <div class="card-front">
      <div *ngIf="showStarsBar" class="center card-rating-curtain">
        <div class="rating card-rating-curtain-content">
          <a class="rating-close-mark" (click)="showStarsBar = !showStarsBar;">&times;</a>
          <p class="position: absolute; z-index: 100; top: 25%; color: white">:LEVEL OF INTEREST</p>
          <span (click)="saveMovie(movie, true, 5)" (mouseenter)="wantLevelText='I WANT IT BAD!'" (mouseleave)="wantLevelText=null">☆</span>
          <span (click)="saveMovie(movie, true, 4)" (mouseenter)="wantLevelText='I REALLY WANT IT!'" (mouseleave)="wantLevelText=null">☆</span>
          <span (click)="saveMovie(movie, true, 3)" (mouseenter)="wantLevelText='NOT SO BAD'" (mouseleave)="wantLevelText=null">☆</span>
          <span (click)="saveMovie(movie, true, 2)" (mouseenter)="wantLevelText='JUST CURIOUS'" (mouseleave)="wantLevelText=null">☆</span>
          <span (click)="saveMovie(movie, true, 1)" (mouseenter)="wantLevelText='SOMEDAY MAYBE...'" (mouseleave)="wantLevelText=null">☆</span>
        </div><br/>
        <div class="card-rating-text">
          <p class="position: absolute; z-index: 100; top: 25%; color: white">{{wantLevelText}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img *ngIf="loading" src="../../assets/images/loading2.gif" class="card-poster-img">
          <img class="card-poster-img" [style.display]="loading ? 'none' : ''" src="{{baseUrl}}{{smallPosterSize}}/{{movie.poster_path}}" (load)="onLoad()" onError="this.src='assets/images/no_poster.jpg'">
          <a class="btn-floating halfway-fab waves-effect waves-light green" (click)="showStarsBar = !showStarsBar;"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span class="card-title truncate activator grey-text text-darken-4"><i class="material-icons">more_vert</i> {{movie.title}}</span>
          <div class="chip">
            {{movie.vote_average}}/10 ({{movie.vote_count}})
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{movie.title}} ({{movie.release_date | date: 'yyyy'}})<i class="material-icons right">close</i></span>
          <p class="grey-text">{{movie.overview}}</p>
        </div>
      </div>
    </div>
    <div class="card-back">
      <div class="center card-back-curtain">
        <div class="card-back-curtain-content grey-text text-darken-4">
          <i class="material-icons large">done</i>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img class="card-poster-img" src="{{baseUrl}}{{smallPosterSize}}/{{movie.poster_path}}" onError="this.src='assets/images/no_poster.jpg'">
          <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="saveMovie(movie, false, 0)" style="z-index: 10;"><i class="material-icons">remove</i></a>
        </div>
        <div class="card-content">
          <span class="card-title truncate activator grey-text text-darken-4"><i class="material-icons">more_vert</i> {{movie.title}}</span>
          <div class="chip">
            {{movie.vote_average}}/10 ({{movie.vote_count}})
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{movie.title}} ({{movie.release_date | date: 'yyyy'}})<i class="material-icons right">close</i></span>
          <p class="grey-text">{{movie.overview}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
