.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.card-front,
.card-back {
  width: 100%;
  height: 430px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  background: rgba(0, 0, 0, 1);
  transform: rotateY(180deg);
  position: relative;
}

.card-back-curtain {
  z-index: 5;
  height: 430px;
  width: 100%;
  background: green;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
}

.card-back-curtain-content {
  display: table-cell;
  vertical-align: middle;
  height: 215px;
}

.card-rating-curtain {
  z-index: 5;
  height: 436px;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
}

.card-rating-curtain-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.card-rating-text {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 60%;
  left: 0;
}

.rating-close-mark {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 90%;
  color: white;
  font-size: xx-large;
  cursor: pointer;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 0;
  margin: 0;
}

.rating>span {
  display: inline-block;
  position: relative;
  width: 1em;
  font-size: xx-large;
  color: white;
  cursor: pointer;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.card-poster-img {
  height: 300px;
  max-width: 100%;
}
