<nav>
  <div class="nav-wrapper blue">
    <div class="input-field">
      <input id="search" type="search" [ngModel]="searchbarValue" (ngModelChange)="searchbarValueChange($event)" placeholder="{{searchbarPlaceholder}}">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </div>
</nav>
<div>
  <div id="search-results" *ngIf="showSearchResults">
    <div *ngIf="movies!=null && movies.length > 0; then searchResultsPaginationTmpl else noResultsTmpl"></div>
    <div class="row">
      <div *ngFor="let movie of movies">
        <app-site-movie-card [movie]="movie" class="col s12 m6 l3 xl2" id="movie_{{movie.id}}"></app-site-movie-card>
      </div>
    </div>
    <div *ngIf="movies!=null && movies.length > 0; then searchResultsPaginationTmpl"></div>
    <div class="divider"></div>
  </div>
</div>

<ng-template #searchResultsPaginationTmpl>
  <div class="row">
    <div class="col s12 center">
      <ul class="pagination">
        <li class="waves-effect" (click)="changePage(false)" [style.visibility]="currentPage == 1 ? 'hidden' : 'visible'"><a><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a class="blue lighten-2">{{currentPage}}/{{allPages}}</a></li>
        <li class="waves-effect" (click)="changePage(true)" [style.visibility]="currentPage == allPages ? 'hidden' : 'visible'"><a><i class="material-icons">chevron_right</i></a></li>
        <li class="waves-effect" (click)="hideSearchResults()"><a><i class="material-icons">close</i></a></li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #noResultsTmpl>
  <div class="row">
    <div class="col s12 center">
      <div class="card-panel grey lighten-2 grey-text text-darken-4">Sorry, no resutls found.</div>
    </div>
  </div>
</ng-template>
