  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><a routerLink=""><i class="material-icons">movie</i></a></li>
    </ul>
  </div>