<footer class="page-footer transparent">
  <div class="row">
    <div class="col s12 center">
      <img src="assets/images/angular.png" height="30" />
      <img src="assets/images/materialize.png" height="30" />
      <img src="assets/images/tmdb.png" height="30" />
    </div>
  </div>
</footer>
