/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 0 50px;
    background: #101010;
    padding-bottom: 100px;
}

html {
    position: relative;
    min-height: 100%;
}