<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center grey-text">PERSONAL WATCHLIST KEEPER</h1>
    <div class="row center">
      <h5 class="header col s12 grey-text text-darken-2">Create your own watchlist online and save it locally</h5>
    </div>
    <div class="row center">
      <a routerLink="home" class="btn-large waves-effect pulse blue">Start expanding your watchlist now!</a>
    </div>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">movie</i></h2>
          <h5 class="center grey-text text-darken-1">Browse huge database</h5>

          <p class="light grey-text text-darken-2">orem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus ligula, commodo ut quam ac, gravida suscipit
            augue. Vivamus elementum metus et magna viverra porta. Cras vulputate nibh enim, id blandit quam vulputate in.
            Ut in ex quam. Cras id posuere sem. Maecenas tortor neque, faucibus a nisi id, pellentesque aliquam risus. Curabitur
            maximus est at elit vulputate sodales. Aenean mollis varius odio id tempor..</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
          <h5 class="center grey-text text-darken-1">Share with friends</h5>

          <p class="light grey-text text-darken-2">orem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus ligula, commodo ut quam ac, gravida suscipit
            augue. Vivamus elementum metus et magna viverra porta. Cras vulputate nibh enim, id blandit quam vulputate in.
            Ut in ex quam. Cras id posuere sem. Maecenas tortor neque, faucibus a nisi id, pellentesque aliquam risus. Curabitur
            maximus est at elit vulputate sodales. Aenean mollis varius odio id tempor.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">https</i></h2>
          <h5 class="center grey-text text-darken-1">Back it up!</h5>

          <p class="light grey-text text-darken-2">orem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus ligula, commodo ut quam ac, gravida suscipit
            augue. Vivamus elementum metus et magna viverra porta. Cras vulputate nibh enim, id blandit quam vulputate in.
            Ut in ex quam. Cras id posuere sem. Maecenas tortor neque, faucibus a nisi id, pellentesque aliquam risus. Curabitur
            maximus est at elit vulputate sodales. Aenean mollis varius odio id tempor.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
